.footer {
  background-image: linear-gradient(
    to right,
    rgb(107, 77, 200),
    rgb(166, 32, 180)
  );
  width: 100%;
  padding: 2% 10%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  display: grid;
  margin-top: 5rem;
  justify-items: center;

  @include responsive($bp-600) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat (3, min-content);
    justify-items: baseline;
  }

  &__info {
    color: #fff;
  }

  &-text {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 1rem;
  }
  &-li {
    list-style: none;
    padding: 1rem;
  }
  .footer-info {
    border-top: 3px dashed #fff;
    border-bottom: 3px dashed #fff;
    line-height: 1rem;
    padding: 1rem 0;
  }

  .footer-menyu {
    @include responsive($bp-600) {
      display: flex;
    }

    &--link {
      text-decoration: none;
      color: white;
      font-size: 2rem;
    }
  }

  &-address {
    font-size: 2rem;
    padding: 1rem;
    width: 70%;
  }
  &-tel {
    font-size: 2rem;
    padding: 1rem;
  }
  &-email {
    font-size: 2rem;
    padding: 1rem;
  }
}
.ishkunlari {
  &-left {
    font-size: 2rem;
    padding: 1rem;
  }
  &-right {
    font-size: 2rem;
    padding: 1rem;
    width: 45%;
  }
}
.footer-huquq {
  font-size: 2rem;
}
.footer-ishkun {
  display: flex;
}
.ishkunlari-left {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  border-right: 1px solid #fff;
  margin-top: 1rem;
}
.ishkunlari-right {
  font-size: 2rem;
  width: 50%;
}
.footer__form-src {
  padding: 2rem 0;
}
.footer {
  &__input {
    padding: 1rem 1rem;
    border-radius: 1px;
    border: none;
    border-top-left-radius: 0.8rem;
    border-bottom-left-radius: 0.81rem;
    font-size: 2rem;

    @include responsive($bp-16) {
      width: 62%;
    }
  }
  &__btn {
    padding: 1rem 1rem;
    transform: translateX(-1rem);
    border: none;
    background-color: rgb(3, 170, 232);
    color: #fff;
    font-size: 2rem;
    border-top-right-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    @include responsive($bp-16) {
      width: 35%;
    }
  }
}
.footer__social-media {
  display: flex;

  @include responsive($bp-600) {
    justify-content: space-around;
  }
}
.soc-icons {
  font-size: 5rem;
  color: #fff;
  margin: 1rem;
}
