.home {
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgb(166, 32, 180),
    rgb(56, 156, 208)
  );
  padding: 0 5%;
  width: 100%;
  position: relative;
}
.nav {
  width: 100%;
  padding: 0 5%;
  // position: fixed;
  z-index: 10000;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: repeat(3, 25%);
  gap: 12%;
  justify-content: space-between;
  background-image: linear-gradient(
    to right,
    rgb(166, 32, 180),
    rgb(56, 156, 208)
  );

  @include responsive($bp-4xl) {
    gap: 7%;
  }
  @include responsive($bp-16) {
    gap: 6%;
  }
}

.nav.sticky {
  position: fixed;

  background-image: linear-gradient(
    to right,
    rgba(166, 32, 180, 0.8),
    rgba(56, 156, 208, 0.8)
  );
}

.nav.top {
  margin-top: -6rem;
}

.nav-navigation {
  display: flex;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  margin-top: 4rem;
  @include responsive($bp-ipad) {
    display: none;
  }
  @include responsive($bp-xl) {
    margin-top: 5rem;
  }
}

.nav-right {
  grid-column: 3 / 4;

  @include responsive($bp-ipad) {
    display: none;
  }
  // align-items: flex-end;
}
.nav-right-phone {
  display: flex;
  justify-content: flex-end;
}
.nav-phone {
  text-align: end;
  line-height: 2rem;
  margin-top: 3rem;
  @include responsive($bp-xl) {
    margin-top: 0.5rem;
  }
  @include responsive($bp-xxl) {
    margin-top: 4rem;
  }
  @include responsive($bp-1000) {
    margin-top: 3rem;
  }
}

.logo-img {
  width: 16rem;

  @include responsive($bp-xl) {
    width: 12rem;
    margin-top: 1.5rem;
  }
}
.icons {
  display: grid;
  grid-template-columns: max-content min-content max-content;
  gap: 3rem;
  justify-content: flex-end;

  @include responsive($bp-m) {
    gap: 1.5rem;
  }
}
.fa-search {
  font-size: 3rem;
  color: #fff;
  @include responsive($bp-l) {
    font-size: 2rem;
  }
  @include responsive($bp-1000) {
    font-size: 3rem;
  }
}
.fa-user {
  font-size: 3rem;
  color: #fff;
  @include responsive($bp-m) {
    font-size: 2rem;
  }
  @include responsive($bp-1000) {
    font-size: 3rem;
  }
}
.home__main {
  position: relative;

  color: #fff;

  // @include responsive($bp-s) {
  //   // margin-top: 3rem;
  // }
}
.main {
  &-left {
    grid-column: 1 / 2;
    padding-top: 3rem;
    height: 100%;
    width: 100%;
    z-index: 10000;

    @include responsive($bp-600) {
      position: absolute;
      padding-left: 5rem;
      height: 37vw;
      width: 100%;
    }
    @include responsive($bp-420) {
      height: 35rem;
    }
  }
  &-right {
    width: 100%;
    height: 100%;
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    @include responsive($bp-600) {
      grid-column: 1 / 3;
    }

    img {
      width: 100%;
      height: 100%;
      grid-row: 1 / 2;

      @include responsive($bp-600) {
        filter: opacity(50%);
      }
    }
  }
}

.line {
  height: 0.5rem;
  background-color: #fff;
  width: 45%;
  margin-bottom: 3rem;

  @include responsive($bp-s) {
    margin-bottom: 2rem;
  }
}

.carousel {
  // position: unset;
  position: relative;
}

.header-carousel {
  flex-direction: column;
  height: 20rem;
  position: absolute;
  left: 75%;
  bottom: 25%;
  // background-color: yellow;
  width: 6rem;
  @include responsive($bp-xxl) {
    bottom: 20%;
  }
  @include responsive($bp-s) {
    bottom: 0;
  }

  li {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgba($color: #658cdf, $alpha: 1);

    @include responsive($bp-xl) {
      height: 4rem;
      width: 4rem;
    }
    @include responsive($bp-s) {
      height: 3rem;
      width: 3rem;
    }
  }
}

.home__mahsulotlar {
  padding: 3% 10%;
  z-index: 0;

  @include responsive($bp-xxl) {
    padding: 3% 5%;
  }
 
  
  @include responsive($bp-420) {
    padding: 5% 0;
  }
}

.home-royxat {
display: grid;
grid-template-columns: repeat(4, 1fr );
gap: 0.5rem;
}
.home-item {
  list-style: none;
  padding: 2rem;
  text-align: center;
  @include responsive($bp-600) {
    padding: 1.5rem;
  }
}
.home-link {
  font-size: 3rem;
  text-decoration: none;

  @include responsive($bp-600) {
  font-size: 2rem;
  }
}

.home__maslaxat {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5rem;
  margin: 5rem 10rem 0 10rem;
  justify-content: center;

  @include responsive($bp-xxl) {
    margin: 7rem 0 4rem 4rem;
  }
  @include responsive($bp-xl) {
    margin: 7rem 0 2rem 2rem;
  }
  @include responsive($bp-l) {
    margin: 7rem 0;
  }
  @include responsive($bp-ipad) {
    gap: 2rem;
  }
  @include responsive($bp-1000) {
    gap: 10rem;
  }
  @include responsive($bp-s) {
    gap: 6rem;
  }
  @include responsive($bp-585) {
    gap: 4rem;
    margin: 5rem 1rem 0 1rem;
  }
  @include responsive($bp-420) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
  }

  &-card {
    z-index: 2;
    padding: 3rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    @include responsive($bp-4xl) {
      display: grid;
      grid-template-rows: 1fr min-content;
      justify-items: center;
    }
    @include responsive($bp-xxxl) {
      padding: 2rem 2rem;
    }
    @include responsive($bp-ipad) {
      padding: 1.5rem;
    }

    @include responsive($bp-16) {
      display: grid;
      grid-template-rows: repeat(2, max-content);
      padding: 2rem 2rem;
    }
    @include responsive($bp-1000) {
      display: grid;
      grid-template-rows: repeat(2, max-content);
    }

    &-1 {
      background-color: rgba(183, 100, 170, 0.8);
    }
    &-2 {
      background-color: rgba(127, 110, 191, 0.8);
    }
    &-3 {
      background-color: rgba(102, 149, 219, 0.8);
    }
  }
}
.maslaxat-icon {
  font-size: 8rem;
  color: #fff;
  margin: 1rem 1rem;
  @include responsive($bp-l) {
    font-size: 6rem;
  }
}
.maslaxat-main {
  display: flex;

  @include responsive($bp-1000) {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
  }
  @include responsive($bp-16) {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
  }
}

// .maslaxat-right {
//   margin: auto 0;
//   justify-items: center;
// }

.maslaxat-comment {
  width: 70%;
  font-size: 2rem;
  color: #fff;
  @include responsive($bp-4xl) {
    width: 100%;
  }
  @include responsive($bp-xxxl) {
    line-height: 2.5rem;
    font-size: 1.8rem;
  }
  @include responsive($bp-m) {
    font-size: 1.5rem;
  }
  @include responsive($bp-1000) {
    font-size: 1.7rem;
  }
}

.mahsulot-img {
  height: 80%;
}

.mahsulot-card {
  // width: 30rem;
  // border: 1px solid black;
  border-radius: 3%;
  margin: 3rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  @include responsive($bp-420) {
    margin: 1rem 1rem;
   }

  &:hover .back {
    opacity: 1;

    @include responsive($bp-600) {
      display: none;
    }
    
  }

  &--top {
    text-align: center;
  }
}
.mahsulotlar-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
  margin-bottom: 5rem;
  padding: 5vh 0;

  @include responsive($bp-xl) {
    gap: 0;
  }
  @include responsive($bp-s) {
   grid-template-columns: repeat(3, 1fr);
  }
  @include responsive($bp-600) {
    gap: 8rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1vh 2rem;
  }

  @include responsive($bp-420) {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
}
.colored {
  color: rgb(255, 213, 74);
}
.fa-star {
  font-size: 2rem;
  text-align: center;
  padding: 0.1rem;
}
.stars {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.chegirma-kartalar {
  padding: 1% 7%;
}
.kartalar {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 100%;
  height: 30rem;
  @include responsive($bp-600) {
    display: grid;
    grid-template-rows: 30rem 30rem;
    grid-template-columns: repeat(2, 45vw);
    gap: 5rem;
  }
  @include responsive($bp-420) {
    grid-template-columns: 55rem;
    grid-template-rows: repeat(4, 30rem);
  }
}

.sale-card {
  border-radius: 1rem;
  height: 100%;
  width: 30vw;
  transition: 1s all;

  &:hover {
    transform:  scale(1.1) translateY(-1rem);
    z-index: 1000;
  }

  @include responsive($bp-600) {
    width: 100%;
  }

  @include responsive($bp-420) {
    position: unset;
  }
}

.first-card {
  background-size: cover;
  position: absolute;
  left: 4vw;
  z-index: 4;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);

  @include responsive($bp-600) {
    grid-column: 1 / 2;
    left: 0;
  }
  @include responsive($bp-420) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
 
}
.bronze-card {
  position: absolute;
  left: 20vw;
  z-index: 3;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);


  @include responsive($bp-600) {
    grid-column: 2 / 3;
    left: 0;
  }

  @include responsive($bp-420) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}
.silver-card {
  left: 36vw;
  background-size: cover;
  position: absolute;
  z-index: 2;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);


  @include responsive($bp-600) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    left: 0;
  }

  @include responsive($bp-420) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
}

.gold-card {

  position: absolute;
  left: 52vw;
  z-index: 1;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);




  @include responsive($bp-600) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    left: 0;
  }

  @include responsive($bp-420) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
}
.chegirma-img{
  height: 100%;
  width:100%;

}


.home-yangiliklar {
  padding: 1% 9%;
  @include responsive($bp-600) {
    margin-top: 40rem;
    padding: 1% 5%;
  }
  @include responsive($bp-420) {
    margin-top: 110rem;
  }
}
.yangiliklar-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;

  @include responsive($bp-16) {
    gap: 4%;
  }
  @include responsive($bp-600) {
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
  }
  @include responsive($bp-420) {
    grid-template-columns: 1fr;
  }
}

.yangilik-card {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 1.5rem;
  @include responsive($bp-xxl) {
    margin-bottom: 3rem;
  }

  &-content {
    background-color: white;
    padding: 0.7rem 1.5rem;
  }
}
.yangilik-img {
  width: 100%;
}
.yangilik-bottom {
  display: flex;
  justify-content: space-between;

  &--left {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 0.5rem;
    align-items: center;
  }
}
.fa-calendar-edit {
  font-size: 2rem;
  color: rgb(139, 139, 139);
}
.fa-clock {
  font-size: 2rem;
  color: rgb(139, 139, 139);
}
.home__operator {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 1%;
  row-gap: 3%;
  padding: 3rem 7% 5%;
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 69rem;
  margin-top: 10rem;

  @include responsive($bp-16) {
    padding: 3rem 7% 5%;
    // height: 55rem;
  }

  @include responsive($bp-7) {
    grid-template-rows: 1fr;
    padding: 5% 9%;
    // height: 35vh;
  }

  @include responsive($bp-600) {
    margin-top: 0;
  }
  @include responsive($bp-420) {
    // height: 37vh;
    grid-template-columns: 1fr;
    height: 73rem;
  }
}
.home__operator-left {
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content) min-content;
  row-gap: 5%;
  column-gap: 1%;

  @include responsive($bp-420) {
    grid-template-rows: repeat(5, min-content) min-content;
  }

  // @include responsive($bp-l) {
  // padding-bottom: 20%;
  // }

  @include responsive($bp-1000) {
    height: 50rem;
  }
  @include responsive($bp-7) {
    grid-column: 1 / 3;
  }
}

.home-form-ism {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  position: relative;
  @include responsive($bp-420) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
.home-form-telefon {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  position: relative;

  @include responsive($bp-420) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
.home-form-email {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  display: flex;
  position: relative;

  @include responsive($bp-420) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
}
.home_input {
  padding: 2rem 3rem;
  border: 1px solid rgb(227, 227, 227);
  &-ism {
    padding: 2rem 1rem;
    border: 1px solid rgb(227, 227, 227);
    width: 100%;
  font-size: 2rem;

  }
  &-telefon {
    padding: 2rem 1rem;
    border: 1px solid rgb(227, 227, 227);
    width: 100%;
  font-size: 2rem;

  }

  &-email {
    width: 100%;
    padding: 2rem 1rem;
    border: 1px solid rgb(227, 227, 227);
    position: relative;
  font-size: 2rem;

  }

  &-matn {
    grid-row: 4 / 6;
    grid-column: 1 / 3;
    padding: 2rem 1rem 15rem 1rem;
    border: 1px solid rgb(227, 227, 227);
  font-size: 2rem;


    @include responsive($bp-420) {
      grid-column: 1 / 3;
      grid-row: 5 / 6;
    }
  }
}
.name-icon {
  position: absolute;
  color: red;
  right: 2rem;
  top: 1rem;
}

.name-icon {
  position: absolute;
  color: rgb(3, 170, 232);
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
}
.email-icon {
  position: absolute;
  color: rgb(3, 170, 232);
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
}
.phone-icon {
  position: absolute;
  color: rgb(3, 170, 232);
  right: 2rem;
  top: 2rem;
  font-size: 2rem;
}

.home__operator-right {
  grid-column: 2 / 3;
  // grid-row: 1 / 3;
  justify-self: end;
  width: 80%;

  @include responsive($bp-1000) {
    width: 73%;
  }
  @include responsive($bp-7) {
    display: none;
  }

  &--img {
    width: 66%;
    transform: translateX(30%);
    @include responsive($bp-7) {
      display: none;
    }
  }
}

.home__map {
  padding: 2rem 15%;

  @include responsive($bp-600) {
    padding: 0 5%;
    margin-top: 6rem;
  }
}

.home__carousel {
  width: 70%;
  margin: 5rem auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  position: relative;

  &-img {
    border-radius: 50%;
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    margin: 1rem auto;
  }
  .carousel-img {
    width: 100%;
    justify-items: center;
  }
  .home-carousel {
    display: flex;
    position: absolute;
    height: 3rem;
    width: 10rem;
    margin: -2% auto;
    @include responsive($bp-600) {
      width: 17rem;
    }
    @include responsive($bp-550) {
      width: 12rem;
    }

    li {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: rgba(1, 1, 1, 0.6);
    }
  }
}

.custom-shape-divider-bottom-1618924706 {
  position: absolute;
  // top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

  svg {
    position: relative;
    display: block;
    width: calc(128% + 1.3px);
    height: 30rem;
    z-index: 1;
  }

  .shape-fill {
    fill: #faf9f9;
  }
}

.mahsulot-card:hover .card_inside {
  text-decoration: none;
}
