.admin__dashboard {
  display: grid;
  grid-template-columns: 13% 87%;
  grid-template-rows: 6% 80%;
  height: 150vh;

  &-left {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    border: 1px solid black;
    padding: 1rem;
    background-image: linear-gradient(
      to bottom,
      rgb(166, 32, 180),
      rgb(56, 156, 208)
    );

    &--logo {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.7fr;
      justify-items: center;
      border-bottom: 1px solid #fff;
      align-items: center;
      &--img {
        width: 60%;
      }
      &--title {
        text-align: center;

        &--h4 {
          text-align: center;
          font-size: 170%;
          color: #fff;
        }
        &--p {
          text-align: center;
          color: #fff;
          font-size: 150%;
        }
      }
    }

    &--bottom {
      align-self: flex-end;

      .admin__left-bottom-text {
        font-size: 2rem;
        color: #fff;
        text-align: center;
        margin: 2rem;
      }
    }
  }

  &-top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    position: relative;
    border-bottom: 2px solid rgb(219, 231, 243);
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-items: flex-end;
    align-items: center;
    grid-template-rows: 100%;
    padding: 1rem 3rem;

    &--left {
      font-size: 2.5rem;
      text-transform: uppercase;
    }
    &--right {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
    }

    .admin-top {
      &--img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
      }

      &--pic {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  &-main {
    grid-column: 2 / 3;
    padding: 2rem;
    grid-row: 2 / 4;
    display: grid;
    gap: 2rem;
    grid-template-rows: 7% 90%;
    background-color: rgb(222, 234, 246);

    &--top {
      border-bottom: 1px solid black;
      .admin__main-top--title {
        font-size: 2.5rem;
        color: #000;
      }
      .admin__main-top--date {
        font-size: 2rem;
        color: rgb(12, 136, 178);
      }
    }
  }

  &-footer {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    display: grid;
    align-items: center;

    &--pages {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      width: 25%;
      align-items: center;
      gap: 1rem;
    }
  }
  .admin__footer-link {
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    color: rgb(10, 75, 109);

    &:hover {
      background-color: rgb(80, 143, 244);
      color: #fff;
      padding: 0.6rem 0;
      border-radius: 1rem;
    }
  }
}
.admin__left-nav {
  display: grid;
  grid-template-rows: repeat(6, 1f);

  &--link {
    color: #fff;
    font-size: 2rem;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
    text-decoration: none;
    padding: 1rem 2rem;
  }
}
.ad-icons {
  color: white;
  font-size: 2rem;
  margin: 1rem 3rem 1rem 0;
}

.admin-top--icon {
  font-size: 3.5rem;
  color: rgb(10, 75, 109);
}

.admin-footer-icon {
  font-size: 5rem;
  color: rgb(80, 143, 244);
}

.adasosiy__main {
 display: grid;
 overflow: hidden;
 box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
padding: 2rem;
 background-color: #fff;
 border-radius: 1rem;
 grid-template-rows: repeat(2, 50% );
  &-registratorlar {
    height: 30vh;
    display: grid;
    row-gap: 3rem;
  
    &--top {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid grey;
      padding: 1rem;
      
    }

    &--bottom {
      display: grid;
      grid-template-columns: repeat(5, 1fr );
      gap: 3rem;
    }
  }
}

.adasosiy-card {


&--1{
  display: grid;
  grid-template-rows: 60% 40%;
position: relative;
  height: 35vh;
  background-image:linear-gradient(    to right,
  rgba(242,242,242, 0.8),
  rgba(242,242,242, 0.8)), url(../img/pattern.jpg);
  background-size: cover;
  border-radius: 4rem;
  justify-items: center;
  align-items: center;

  &--top{
    width: 10rem;
    height: 10rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    border: 3px solid grey;
    display: grid;
    align-items: center;
    
  }
  &--bottom{
    font-size: 2rem;
    grid-row: 2 / 3;
   
  }
}
&--2{

display: grid;
grid-template-rows: repeat(3, 1fr);
row-gap: 2rem;
gap: 3rem;
padding: 1rem;
height: 35vh;
background-image:linear-gradient(    to right,
rgba(206, 232,202, 0.8),
  rgba(206, 232,202, 0.8)), url(../img/pattern.jpg);
background-size: cover;
border-radius: 4rem;

}
&--3{

display: grid;
grid-template-rows: repeat(3, 1fr);
row-gap: 2rem;
gap: 3rem;
padding: 1rem;
height: 35vh;
background-image:linear-gradient(    to right,
rgba(239,185,155,0.8),
rgba(239,185,155,0.8)), url(../img/pattern.jpg);
background-size: cover;
  border-radius: 4rem;

}
&--4{

display: grid;
grid-template-rows: repeat(3, 1fr);
row-gap: 2rem;
gap: 3rem;
padding: 1rem;
height: 35vh;
background-image:linear-gradient(    to right,
rgba(146, 199, 232,0.8),
rgba(146, 199, 232,0.8)), url(../img/pattern.jpg);
background-size: cover;
border-radius: 4rem;

}
&--5{
 
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2rem;
  gap: 3rem;
  padding: 1rem;
  height: 35vh;
  background-image:linear-gradient(    to right,
  rgba(239,185,155,0.8),
rgba(239,185,155,0.8)), url(../img/pattern.jpg);
  background-size: cover;
  border-radius: 4rem;

}



  &--top {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 1rem;
    &--left{
width: 5rem;
height: 5rem;
      &--img{
        width: 9rem;
        border-radius: 2.5rem;
      }
    }
&--right{
  display: grid;
  grid-template-rows: repeat(3, min-content );
  .adasosiy-card{
  &--name{
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(10, 70, 87);
  }
  &--id{
    font-size: 2rem;
    color: rgb(10, 70, 87);
  }
  &--lavozim{
    font-size: 1.5rem;
    color: rgb(10, 70, 87);

  }
}
}
  }
  &--middle {
    display: grid;
    grid-template-rows: 50% 50%; 

&--top{

  &--2{
   color: rgb(81, 121, 76);
  font-size: 1.5rem;

  }
  &--3{
    color: rgb(158, 47, 19);
    font-size: 1.5rem;

  }
  &--4{
    color: rgb(46, 27,150);
    font-size: 1.5rem;

  }
  &--5{
    color: rgb(158, 47, 19);
    font-size: 1.5rem;

  }
}
&--bottom{
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr );

  .adasosiy-card--middle-img{
    &--1{
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    }
    &--2{
     left: 3.5rem;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    }
    &--3{
    position: absolute;
    left: 6.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;

    }
    &--4{
    position: absolute;
    left: 9.5rem;
    overflow: hidden;
    border: 2px solid #fff;

    border-radius: 50%;
    }
    &--5{
    position: absolute;
    left: 12.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    background-color: #fff;
    color: grey;
    width:5.5rem;
    height:5.5rem;
    font-size: 2rem;
    text-align: center;
    display: grid;
    align-items: center;
    }
  }
  
}

  }
  &--bottom {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: 1rem;

    &--top{
display:flex;
justify-content: space-between;
&--left{
  font-size: 2rem;

  &--2{
    color: rgb(81, 121, 76);
    font-size: 2rem;
 
   }
   &--3{
     color: rgb(158, 47, 19);
     font-size: 2rem;
 
   }
   &--4{
     color: rgb(46, 27,150);
     font-size: 2rem;
 
   }
   &--5{
     color: rgb(158, 47, 19);
     font-size: 2rem;
 
   }
}
&--right{
 
  &--2{
    color: rgb(81, 121, 76);
    font-size: 2rem;
 
   }
   &--3{
     color: rgb(158, 47, 19);
     font-size: 2rem;
 
   }
   &--4{
     color: rgb(46, 27,150);
     font-size: 2rem;
 
   }
   &--5{
     color: rgb(158, 47, 19);
     font-size: 2rem;
 
   }
}
    }

    .adasosiy-card--bottom--line{
height: 0.7rem;
width: 100%;
border-radius: 1rem;

background-color: #fff;
      &--into{
&--2{ 
  height: 100%;
        width:63%;
        background-color: rgb(31, 199, 76);
        border-radius: 1rem;
}
&--3{
  height: 100%;
        width:63%;
        background-color: rgb(195, 99, 56);
        border-radius: 1rem;
}
&--4{
  height: 100%;
        width:63%;
        background-color: rgb(80, 105, 211);
        border-radius: 1rem;
}
&--5{
  height: 100%;
        width:63%;
        background-color: rgb(195, 99, 56);
        border-radius: 1rem;
}
      
      }
    }
  }

}




.adasosiy-card--middle--img--pic{
  width:4.5rem;
  height:4.5rem;

}

.adasosiy{
  &-registratorlar{
font-size: 3rem;
text-transform: uppercase;
color: rgb(255, 144, 119);
  }
  &-jadval{
font-size: 2.5rem;
color: #000;
  }
}

.adasosiy-plus{
  color: rgb(31, 199, 76);
  font-size: 8rem;
  justify-self: center;
}