* {
    margin: 0;
    padding: 0;
  }
  .admin__dashboard-main--ombor{
      display: grid;
      grid-template-rows: 7% 12%;
    background-color: rgb(222, 234, 246);
    padding: 0 2rem;
    grid-row: 2 / 5 ;

  }
  .warehouse_top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding: 1rem;
    margin: 1rem;
  }
  
  .warehouse_top_btn {

    &-1{
      padding: 1rem;
      width: 100%;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: grid;
      align-items: center;
      grid-template-columns: 0.3fr 1.5fr;
      box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.3);
      background-color: white;
    }
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: grid;
    align-items: center;
    grid-template-columns: 0.3fr 1.5fr;
    box-shadow: 0 0rem 0.5rem rgba(0, 0, 0, 0.3);
    background-color: white;
  }
  
  .warehouse_icon {
    padding: 1.5rem 2rem;
    color: white;
    margin-right: 0.6rem;
    border-radius: 1rem;
    width: 7rem;
    font-size: 3rem;
    
  }
  .warehouse_text {
    padding: 0.6rem 0rem;
    font-size: 2.3rem;
    text-align: left;
  }
  .bg_rangi1 {
    background-color: skyblue;
  }
  
  .bg_rangi2 {
    background-color: rgb(250, 113, 89);
  }
  
  .bg_rangi3 {
    background-color: rgb(167, 48, 167);
  }
  
  .bg_rangi4 {
    background-color: rgb(47, 165, 86);
  }
  
  .warehouse_bottom_card{
    border-radius: 1rem;
    padding: 2rem 2rem;
    margin: 2rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    height: 104vh;
    background-color: #fff;
  }
  
  .warehouse_card_title{
    display: grid;
      grid-template-columns: max-content;
  
  }
  
  .warehouse_card_title1 {
    color: orange;
    padding-left: 1rem;
    margin: 0;
    font-size: 2rem;
  }
  

  
  .warehouse_adding{
    display: grid;
    grid-template-columns: 27% 27% 27% 15%;
    padding-top: 2rem;
  }
  
  .warehouse_info_title{
    padding-bottom: 1rem;
    padding-left: 1.1rem;
    font-size: 2rem;
  }
  
  .warehouse_info_select_box{
    padding: 2.5rem 3rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    border: none;
    color: grey;
    box-shadow: 0rem 0rem 0.7rem rgba(231, 184, 184, 0.5);
    
  }
  
  .warehouse_info_save{
    text-align: end;
    padding-left: 4rem;
    display: grid;
    align-items: flex-end;
  }
  .warehouse_info_save_btn{
    // margin: 2.2rem 0rem;
    padding: 2.5rem 5rem;
    background-color: rgb(15, 204, 15);
    font-size: 2rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    justify-content: end;
  }
  
  .warehouse_input{
    padding-left: 1rem;
  }